<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxvmCByWthwVlJnIt8Bap1f4t3eLEHm44</string>
	<key>GCM_SENDER_ID</key>
	<string>1069309175593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gomuluproject</string>
	<key>STORAGE_BUCKET</key>
	<string>gomuluproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069309175593:ios:d74d260c9cdd5f07d83938</string>
	<key>DATABASE_URL</key>
	<string>https://gomuluproject-default-rtdb.firebaseio.com</string>
</dict>
</plist>